.card {
    width: 180px;
    height: 160px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.percentage-change {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 50px;
    align-items: center;
}

.line-chart-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.budget-utilization-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -50px;
}

.description {
    margin-top: 10px;
    font-size: 14px;
    color: #888;
}

.total{
    display: flex;
    flex-direction: row;
}

.dashboard-left{
    display: flex;
    flex-direction: column;
}

.expenditure-categories{
    margin-left: 50px;
    justify-content: center;
}

.dashboard-right{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
}

.expense-line-chart{

}

.dashboard-right h3{
    text-align: center;
    margin-bottom: 100px;
}
