.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(235, 238, 247);
  padding: 20px;
  border-radius: 20px;
  min-height: 100vh; /* 设置最小高度为视口高度 */
  box-sizing: border-box; /* 确保 padding 不会增加实际高度 */
}
.chart-wrapper {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chart-container {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.chart-container h3 {
  margin-bottom: 20px;
}

.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #fb2a2a;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #cc0000;
}

.description {
  margin-top: 20px;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.button-container .btn {
  flex: 1;
  margin: 0 10px;
}

.input-wide {
  width: 100%;
}
.input-group .form-control {
  width: 50%;
}

.chart-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.custom-navbar-red {
  background-color: #fb2a2a !important;
  color: #ffffff !important;
}

.custom-navbar-red .navbar-brand,
.custom-navbar-red .nav-link {
  color: #ffffff !important;
}

.custom-navbar-red .dropdown-menu {
  background-color: #ff0000;
}

.custom-navbar-red .dropdown-item {
  color: #ffffff !important;
}

.custom-navbar-red .dropdown-item:hover {
  background-color: #cc0000;
}
